<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>my form ejs</title>
  </head>
  <body>
    <h1>name : <%= name %> </h1><br>
    <h1> phone number : <%= phone_number %> </h1>
  </body>
</html>
