<%- include('includes/head.ejs', {'title':'Archive - Junstory'}) %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container">
    <h1>Hello, EJS!</h1>
    <p class="test">일정 확인</p>
  </div>


<%- include('includes/end.ejs') %>
