<%- include('includes/head.ejs', {'title':'Archive - Junstory'}) %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container">
    <h1>Hello!</h1>
    <p>김버장머 하이요ㅋ</p>
  </div>


<%- include('includes/end.ejs') %>
