<%- include('includes/head.ejs', {'title':'자격론&내가 들은 말'}) %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container">
    <h1>자격론...</h1>
    <p>김버장머 하이요ㅋ</p>
    <li><a href="#">게임할,, 자격</a></li>
    <li><a href="#">밥먹을,, 자격</a></li>  

    <br>
    <h1>내가 들은 말</h1>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
  </div>


<%- include('includes/end.ejs') %>
