<%- include('includes/head.ejs', {'title':'TOY'}) %>

</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container">
    <h1></h1>
    <p></p>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>  

    <br>
    <h1></h1>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
  </div>


<%- include('includes/end.ejs') %>
